
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Neue";
}

#nav {
  height: 44px;
  background-color: #181818;
  position: sticky;
  top: 0px;
  opacity: 90%;
  
}

ul {
  height: 100%;
  display: flex;
  color: #d1d1d1;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#logo {
  height: 22px;
  width: 22px;
}

#hero {
  height: 580px;
  margin: 0px 0px 10px 0px;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ctn {
  color: white;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;

  text-align: center;
 
  padding: 50px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 8px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
}

p {
  font-size: 28px;
}

.learn {
  height: 44px;
  width: 130px;
  background-color: #0071e3;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.buy {
  height: 44px;
  width: 74px;
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  border-radius: 25px;
  cursor: pointer;
  
  font-size: 17px;
}
.learn1 {
  height: 36px;
  width: 100px;
  background-color: #0071e3;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.buy1 {
  height: 36px;
  width: 62px;
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  border-radius: 25px;
  cursor: pointer;
  
  font-size: 17px;
}
.buy:hover {
  background-color: #0071e3;
  color: white;
}

#hero2 {
  height: 580px;
  
  margin: 0px 0px 10px 0px;
  background-image: url("./images/iphone\ air\ 14");
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
}

.heading2 {
  padding-top: 50px;
  text-align: center;
}

.para2 {
  width: 20%;
  margin: 10px auto;
  text-align: center;
}

#section1 {
  display: flex;
  padding: 8px;
  gap: 8px;
}

/*watch Series*/

#section-box1 {
  height: 580px;
  width: 50%;
  background-image: url("./images/apple\ watch");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#section-box1 p{
  padding: 0px;
  line-height: 40px;
  font-size: 22px;
}


#section-box2 {
  height: 580px;
  width: 50%;
  background-image: url("./images/ipad");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font: 12px;
}


#section-box2 p {
 padding: 0px;
  line-height: 27px;
  font-size: 22px;
}

/* ipads*/
#ipad{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.heading3 {
  padding-top: 50px;
  text-align: center;
}


.image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#hero3 {
  height: 580px;
  margin: 8px 0px;
  background-image: url("./images/hero_macbook_pro");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f5f5f7;
}

#section2 {
  display: flex;
  padding: 8px;
  gap: 8px;
 
}
/* Ear Pods*/
#section-box3 {
  height: 580px;
  width: 50%;
  background-image: url("./images/earphone");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
#section-box3 h1, #section-box4 h1  {
  font-size: 40px;
  
}

#section-box3 .heading2, #section-box4 .heading2, #section-box5 .heading2 , #section-box6 .heading2  {
  font-size: 20px;
  padding: 0px;
  margin-top: 10px;
  
}


/*MacBook Air*/
#section-box4 {
  height: 580px;
  width: 50%;
  background-image: url("./images/macbook\ air");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  
}

#section-box3 p, #section-box4 p{
  color: black;
  margin: 0px;

}


#section3 {
  display: flex;
  padding: 8px;
  gap: 8px;
}

#section-box5 {
  height: 580px;
  width: 50%;
  background-image: url("./images/trade3");
background-repeat: no-repeat;
  background-position:center;
  background-size:cover  ;


  
}

#section-box6 {
  height: 580px;
  width: 50%;
  background-image: url("./images/apple\ atmcard");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  
}
#galerydiv{
  margin-top: 10px;
  border: 5px solid blue;
  height: 200px;
  width: 98vw;
}
#galerydiv1{
  margin-top: 10px;
  border: 5px solid blue;
  height: 450px;
  width: 98vw;
}
#galery{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  
}


#footer{
  height: auto;
  background-color:#f5f5f7;
  display: flex;
  flex-direction: column;
  padding: 20px 210px;
  align-items: center;
 

}


.footer1{
 
  height: 100%;
}

.footer1 p{
  font-size: 13px;
  opacity: 70%;
  line-height: 18px;
  margin-top: 10px;

}

#last{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 25px;

}

a{
  font-size: 12px;
  opacity: 70%;
}

.columnspart{
  
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:70px;
 
  margin-top: 40px;
  
}


#internal{
 line-height: 25px;
}

h5{
  margin: 0px;
  opacity: 70%;
}
.learn2{
  height: 36px;
  width: 140px;
  background-color: #0071e3;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
#Blue{
  color: #0071e3;
  text-decoration: underline;
}
#underlined{
  text-decoration: underline;
}